@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --font-family: "Poppins", sans-serif;
  --dark-black: #26282C;
  --light-white: #bec6d1;
  --light-gold: #fdc692;


  --color-white: #fff;
  --dark-text: #333;
  --box-shadow-dark: -5px -5px 10px rgba(255, 255, 255, 0.05), 5px 5px 10px rgba(0, 0, 0, 0.5);
  --box-shadow-dark-inset: inset -5px -5px 10px rgba(255, 255, 255, 0.05), inset 5px 5px 10px rgba(0, 0, 0, 0.5);
  --box-shadow-light: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.28);
  --box-shadow-light-inset: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, 0.28);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
}

body {
  font-family: var(--font-family);
}

section {
  width: 100%;
  padding: 8rem 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Text styles */
.u-text-small {
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: 300;
}

.u-text-light {
  color: var(--color-white);
}

.u-text-dark {
  color: var(--dark-text);
}